# Compiled files
*.slo
*.lo
*.o
*.so
*.dylib
*.lai
*.la
*.a

#MacOS
.DS_Store
.com.apple.timemachine.supported

# Xcode
## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

## Xcode Patch
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno

## TouchDesigner
*.[0-9]*.toe
plugins/

## GNU Autotools
helper/Makefile
helper/aclocal.m4
helper/autom4te.cache/
helper/m4/
helper/missing
helper/stamp-h?
helper/.deps/
helper/.dirstamp
helper/.libs/
helper/*.l[ao]
*~
